html {
  background-color: rgb(117, 155, 199);
  box-sizing:border-box;
  color: rgb(240,240,240);
}

section {
  padding: 20px 30px 0 20px;
  margin-bottom: 20px;
  border: 3px solid rgb(236,236,236);
  border-radius: 10px;;
  width: 780px;
  /*background-color:rgb(224, 224, 224);*/
}
/*Set the grid display for the SiteMap details (list name and URL) */
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap:9px;
  row-gap: 17px;
  grid-auto-rows: 40px;
}

.list-name-label{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.list-name-input {
  grid-column: 3 / 8;
  grid-row:1 / 2;
}
.list-URL-label {
  grid-column: 1 / 3;
  grid-row:2 / 3;
}
.list-URL-input {
  grid-column: 3 / 12;
  grid-row: 2 / 3;
}
.list-delete-button {
  grid-column: 12 / 13;
  grid-row: 1 / 2;
}

.list-name-input input, .list-URL-input input {
  display: block;
  width: 100%;
  margin:0;
}

.list.wrapper {
  padding-bottom: 15px;
  border-bottom: 1.5px dashed rgba(240,240,240,0.5);
}

/* Set the grid for the selectors*/
.selector-list-label {
  grid-column: 1 / 3;
}

.selector-list-input {
  grid-column: 3 / 7
}
.selector-list-control-buttons {
  grid-column: 7/10;
}

.selector-list-input input {
  display: block;
  width: 90%;
  margin:0;
}
.selector-list.wrapper { 
  padding-top: 5px;
}

ul {
  list-style:none;
  padding: 0;
  margin-left:0;
  margin-right:0;
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
}


input {
  font-family: 'Oxygen', sans-serif;
  margin: 0;
  background-color: rgb(242, 242, 242);
  padding: 5px;
  border: 1.5px solid rgb(242, 242, 242);
  border-radius: 5px;
  
}

input:focus, input:hover {
  border: 1.5px solid rgb(242, 242, 242);
  box-shadow: 0px 0px 3px 3px rgba(37, 47, 70, 0.6);
}


label {
  font-family: 'Cairo', sans-serif;
  padding: 2px 3px;
  text-align: right;
  border-bottom: 1.5px solid rgb(236,236,236);
  margin: 0;
}


.button {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 10px;
  vertical-align:top;
  cursor: pointer;
}

.button:hover {
  color: rgb(37, 47, 70);
}

.addNewList {
  height: 2rem;
  width: 2rem;
}

.deleteList.button:hover {
  cursor: pointer;
  margin: 0;
}


/*.listHeader {
  display: grid;
  grid-template-columns: ;
}*/